body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Liberation Sans", sans-serif;
    padding: 10px;
    width: fit-content;
}

.warning {
    color: red;
    display: none;
    text-align: center;
    padding-bottom: 10px;
}

.stale {
    opacity: 30%;
}

.menu {
    padding-left: 10px;
}

p {
    line-height: 150%;
}

a.gmaps {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/aa/Google_Maps_icon_%282020%29.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 1.8rem;
    width: 1.8rem;
    display: inline-block;
    margin-bottom: -0.6em;
}

.updated {
    padding-top: 20px;
    font-style: italic;
}

.updated, .issue {
    font-family: initial;
    text-align: center;
}






